body{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.81);
}
.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-principal{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid rgb(52, 197, 255);
    border-top: 1px solid rgb(30, 31, 56);
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
}   
.container-seccion1{
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    width: 300px;
    background-color: rgb(96, 97, 111);
    color: white;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
}
.btn-conversor{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    background-color: rgb(52, 197, 255);
    color: white;
    border: none;
    width: 200px;     
    height: 30px;    
    font-size: 16px; 
    display: flex;
    text-align: center;
    font-weight: bold;
}
button{
    display: flex;
    align-items: center;
}
input {
    width: 200px;     
    height: 30px;    
    font-size: 14px; 
    display: flex;
    text-align: center;
}
.select-mn{
    width: 200px;     
    height: 30px;    
    font-size: 14px; 
    display: flex;
    text-align: center;
}
.container-resultado{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
p, h2{
    margin-top: 22px;
    margin-bottom: 6px;
}
